# Application
web/app/plugins/*
!web/app/plugins/.gitkeep
web/app/mu-plugins/*/
web/app/themes/twentytwentyfive/
web/app/upgrade
web/app/uploads/*
!web/app/uploads/.gitkeep
web/app/cache/*

# WordPress
web/wp
!web/.htaccess

# Logs
*.log

# Dotenv
.env
.env.*
!.env.example

# Composer
/vendor
auth.json

# WP-CLI
wp-cli.local.yml

# WP-CLI
wp-cli.local.yml

# Updraft
web/app/updraft
web/app/uploads-old
web/app/upgrade-old
web/app/upgrade-temp-backup
web/app/themes-old
web/app/plugins-old
web/app/mu-plugins-old
web/app/cache-old

# Cache
web/app/settings
web/app/advanced-cache.php

# Allowed Plugins
!web/app/plugins/advanced-custom-fields-pro/
!web/app/plugins/acf-extended-pro/
!web/app/plugins/saipan-location-checkout/
!web/app/plugins/woocommerce-zelle-payments/